@model BookShopping.Models.DTO.BookDisplay
@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Cart" asp-action="GetUserCart" class="btn btn-success">Delete</a>
<div class="my-2" >
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">


        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>All...</option>
                @foreach (var item in Model.Genres)
                {
                      <option value="@item.Id">@item.GenreName</option>
                }
                    
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">SearchByTitle</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.Sterm" id="sterm" name="sterm" placeholder="Search By Title">
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                <label class="form-check-label" for="inlineFormCheck">
                    Remember me
                </label>
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var item in Model.Books)
    {
    <div class="card mx-2 mb-4" style="width: 16rem;">
        @if (string.IsNullOrEmpty(item.BookImage))
        {
            <img style="width:100%;height:200px" src="~/Images/NoImage.png" class="card-img-top" alt="...">
        }
        else
        {
            <img style="width:100%;height:200px" src="~/Images/@item.BookImage" class="card-img-top" alt="...">
        }

        <div class="card-body">
            <h5 class="card-title">@item.BookName</h5>
            <p class="card-text">
                Genre:@item.GenreName
                <br />
                Author:@item.AuthorName
                <br />
                Price:@item.Price
            </p>
            <a @*type="button"*@ onclick="add(@item.Id)" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    }

</div>

@section Scripts
 {
    <script>
        async function add(bookId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
                //var username=usernameEl.innerText;
                //  if(username.length<1){
                //      window.location.href="/Identity/Account/Login";
                //  }
            }
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
 }
